ul {
    color: #c0c0c0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 50px;

    li {
        font-family: 'Poppins';
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        user-select: none;
        min-width: 140px;
    }

    @media (max-width: 458px) {
        font-size: small;
    }
    
    li:hover {
        border-top: 1px solid rgb(192, 192, 192);
    }
}

::-webkit-scrollbar {
    display: none;
}