.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: var(--backgroundLight);

  font-family: 'Source Sans Pro', sans-serif;
}

.cabecalho {
  display: flex;
  height: 7.539rem;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.texto1 {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--color-Text);
}

.textoInformacao {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: var(--color-Text);
}

.dadosToken {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  padding: 0 10rem;
}

.icone {
  display: flex;
  flex: 0.1;
  margin-top: 0.2rem;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-Text);
}

.icone svg {
  font-size: 3rem;
}

.textoDados {
  flex: 1;
  font-size: 2.2rem;
}

.textoDados textarea {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: justify;
  width: 100%;
  height: 22rem;
  resize: none;
}

.copiarToken {
  font-size: 1.9rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-Text);
  text-align: center;
}

.botao {
  flex: 0.3;
  max-width: 20rem;
  margin-left: 1rem;
  align-self: center;
}

.botao button {
  margin: 0;
  background: #f2b05e !important;
  color: var(--color-Text) !important;
  text-shadow: none;
}

@media (max-width: 1024px) {
  .dadosToken {
    padding: 0 8rem;
  }

  .icone {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .dadosToken {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .icone {
    display: none;
  }
}

@media (max-width: 450px) {
  .dadosToken {
    flex-direction: column;
  }

  .botao {
    max-width: 50rem;
    align-self: center;
    margin-top: 1rem;
  }

  .icone {
    display: none;
  }
}
